@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-feature-settings: "kern" 1;
}

.prose h1, .prose h2, .prose h3 { text-transform: none; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}


